<h2>Accepting an invitation</h2>
You are accepting an invitation to join the <%= @invitation.account.name %>.

<% if !user_signed_in? %>
  <%= render 'annonymous_accept'%>
<% else %>
  <%= render 'user_accept' %>
<% end %>
